- set_head_and_page_title("Set your new password")

- form_for(@user, :url => password_reset_path(:id => @user.perishable_token), :method => "put") do |f|
  %dl
    = render :partial => 'fields', :locals => {:f => f}

  %p= f.submit("Change my password and log me in")
