%dl[presentation]
  %dt Topic
  %dd= h(presentation.topic)
  
  %dt Description
  %dd= h(presentation.description)
  
  %dt Speaker information
  %dd= h(presentation.speaker_description)
  
  %dt Length
  %dd= presentation_length(presentation)
  