%h1 All users

%table
  %tr
    %th Email
    %th Full name
    %th Nickname
    %th Presentations
  - @users.each do |user|
    %tr
      %td= h(user.email)
      %td= h(user.full_name)
      %td= h(user.nickname)
      %td= user_presentations(user)
