body {
  background-color: #FFF;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
  padding: 0;
  margin: 0;
  text-align: center; }

#page {
  margin: 0 auto;
  padding: 0 20px;
  width: 900px;
  text-align: left;
  background-color: #FFFFFF;
  clear: both; }

#content {
  background-color: white;
  float: left;
  width: 100%;
  margin: 15px 0px 0px 30px; }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 0.72em; }

h2 {
  color: #435F79;
  font-family: Georgia, sans-serif;
  font-size: 180%;
  font-weight: normal;
  margin: 0px; }

h3 {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 160%;
  margin: 0px;
  font-weight: bold; }

h3 a {
  color: #850707;
  text-decoration: none;
  border-bottom: none;
  margin: 0px; }

h3 a:hover {
  color: #BA0A0A;
  border-bottom: none; }

h4 {
  font-family: Georgia, Times, "Times New Roman";
  font-size: 140%;
  margin: 0px; }

h4 a {
  color: #650505;
  margin: 0px; }

h4 a:hover {
  color: #D50202; }

h5 {
  color: #435F79;
  font-family: Georgia, sans-serif;
  font-size: 140%;
  margin: 0px; }

h6 {
  font-size: 80%;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-weight: bold; }

a {
  color: #7D0707;
  text-decoration: none;
  border-bottom: 1px solid #DBD6D1; }

a:hover {
  color: #D50202;
  text-decoration: none;
  border-bottom: 1px solid #E20202; }

p {
  color: #111;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.25em;
  margin: 0px 0px 10px; }

ul {
  padding: 0 0 0 18px; }

li {
  padding: 0; }

hr {
  color: #FFF;
  border-bottom: 1px solid #EEE;
  width: 100%;
  margin: 20px 0 0 0; }

#header {
  background: transparent url(/images/nav-background.png) repeat-x top left;
  width: 100%; }

#nav {
  margin: 0 auto;
  padding: 0 20px;
  width: 900px;
  height: 38px;
  margin-bottom: 20px; }

#nav ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto; }

#nav ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0; }

#nav ul li a {
  font-family: "Lucida Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  display: block;
  float: left;
  color: #3D3D3D;
  text-decoration: none;
  padding: 8px 16px 7px;
  border-bottom: none;
  background: transparent url(/images/nav-divider.png) no-repeat top right; }

#nav ul li a:hover {
  color: #FFFFFF;
  background: #BC0A0A;
  border-bottom: 1px solid #8F0808; }

#nav ul li.selected a {
  color: #FFFFFF;
  background: #111111;
  border-bottom: 1px solid #000000; }

#user-menu {
  float: right; }

#user-menu ul li a {
  background-position: top left; }
