%h1
  Euruko 2010 - administration hub

%ul
  %li.users
    Users
    %ul
      %li= link_to("New user", new_administration_user_path)
  %li.presentations
    Presentations
    %ul
      %li= link_to("New", new_administration_presentation_path)
      %li= link_to("Browse", administration_presentations_path)
